.background    { background-image: url("http://portfolio.kageetai.net/mario/ground.png"), url("http://portfolio.kageetai.net/mario/bushes.png"), url("http://portfolio.kageetai.net/mario/back.png");
    background-color: #F8E0B0;
    background-repeat: no-repeat, repeat-x, repeat-x, repeat-x;
    background-position: left 30% bottom 24px, left 0px bottom 0px, left 0px bottom 24px, left 0px bottom 0px;
    -webkit-animation: back 15s infinite linear;
    animation: back 15s infinite linear;
    table-layout: fixed;
    border-spacing: 0;                           }
.background td { padding: 0;                     }
.lava          { background: rgb(255, 100, 100); }
.owl           { background-image: url("./images/turtle.png");     }
.wall          {
    background-color: #C84C0C;
                background-image: url('https://raw.githubusercontent.com/LantareCode/random-this-and-thats/master/CSS/SuperMario-Animation/images/groundblock.png');

                                                 }

.actor  { position: absolute;                    }
.coin   { background: rgb(250, 236, 16);         }
.player { background-image: url("http://portfolio.kageetai.net/mario/mario.gif");
          background-repeat: no-repeat, repeat-x, repeat-x, repeat-x;
                                                 }

.won .player {
    box-shadow: -4px -7px 8px white, 4px -7px 8px white;
                                                 }
.game {
    overflow: hidden;
    max-width: 600px;
    max-height: 450px;
    position: relative;
                                                 }

